<section class="c-copyright">
    <div class="o-wrapper">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item   u-6/12@lg">
                <ul class="c-copyright__list   o-list-bare">
                    <li class="c-copyright__item"><a href="#" class="c-copyright__link">Disclaimer</a></li>
                    <li class="c-copyright__item"><a href="#" class="c-copyright__link">Privacy</a></li>
                    <li class="c-copyright__item"><a href="#" class="c-copyright__link">Accessibility</a></li>
                </ul>
                <small class="c-copyright__text"><a href="/copyright" class="c-copyright__link">Copyright &copy; Department for Environment and Water {{ now|date("Y") }}</a>. All rights reserved.</small>
            </div>

            <div class="o-layout__item   u-6/12@lg">
                <ul class="c-copyright__list c-copyright__list--logos   o-list-bare">
                    <li class="c-copyright__item">
                        <a href="" class="c-copyright__link">
                            <img class="c-copyright__logo" src="/assets/img/site/logo-gosa.svg" alt="Government of South Australia">
                        </a>
                    </li>
                    <li class="c-copyright__item">
                        <a href="" class="c-copyright__link">
                            <img class="c-copyright__logo" src="/assets/img/site/logo-bsa.svg" alt="South Australian Tourism Commision">
                        </a>
                    </li>
                    <li class="c-copyright__item">
                        <a href="" class="c-copyright__link">
                            <img class="c-copyright__logo" src="/assets/img/site/logo-sagovau.svg" alt="sa.gov.au">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
