{% set pages = craft.entries.section('pages').all() %}

{% set pages = [
    {
        'link': 'home',
        'url': '#'
    },
    {
        'link': 'Visiting the gaol',
        'url': '#'
    },
    {
        'link': 'history',
        'url': '#'
    },
    {
        'link': 'Venue Hire',
        'url': '#'
    },
    {
        'link': 'get involved',
        'url': '#'
    },
    {
        'link': 'education',
        'url': '#'
    },
    {
        'link': 'contact',
        'url': '#'
    }
] %}


<nav id="nav-primary" class="c-nav-primary" aria-label="Primary menu">
    <ul class="c-nav-primary__list">
        {% for page in pages %}
            <li class="c-nav-primary__item"><a class="c-nav-primary__link" href="{{ page.url }}">{{ page.link | upper }}</a></li>
        {% endfor %}
    </ul>
</nav>
