<section class="c-sitemap">
    <div class="o-wrapper o-wrapper--small">
        <div class="o-layout">
            <div class="o-layout__item u-6/12">Left</div>
            <div class="o-layout__item u-6/12">Right</div>
        </div>
    </div>
</section>
