/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

/**
 * Styling for the Alpha series site header.
 **/


/**
 * Custom site-header content can be set by defining a mixin called
 * sagovau-site-header-custom-content
 **/



    /*div*/.#{$sagovau-namespace}site-header__navigation {
        background: {
            color: #9f7977;
            image: url(#{$sagovau-path-shared}regional-menu-background.png);
            image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) $sagovau-spacing-unit-base * 0.65);
            repeat: repeat-x;
        }
        position: relative;   // Use relative positioning so children can be absolutely positioned.
        width: 100%;
    }
