/*------------------------------------*\
    #ACTION-MODULE
\*------------------------------------*/

/**
 * Styling for the Alpha series action ("call to action") module.
 * Note that the "module" component can only be imported once, so importing it
 * in multiple files does not cause duplication.
 **/


/*div*/.#{$sagovau-namespace}action-module {
    font-size: $sagovau-font-size-base;

    /**
     * 1. Trigger new block formatting context so that the background surrounds
     *    all elements.
     *
     * 2. Apply negative margins to counteract the container's padding
     **/

    @include media-query(large-and-up) {
        background-color: lighten($sagovau-color-brand, 64%);
        margin: 0 (-$sagovau-spacing-unit-base--small) (-$sagovau-spacing-unit-base--small); /* [2] */
        overflow: hidden;     /* [1] */

    }

    @include media-query(huge) {
        background-color: transparent;
        margin: 0;
    }

}


    /*ul*/.#{$sagovau-namespace}action-module__list {
        list-style: none;

        @include media-query(large-and-up) {
            margin: 0 $sagovau-spacing-unit-base--small;
            text-align: justify;

            &:after {   /* [3] */
                content: "";
                display: inline-block;
                width: 100%;
            }

        }

    }


/*a*/.#{$sagovau-namespace}action-module__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
}
