/*------------------------------------*\
    #PRIMARY SETTINGS
\*------------------------------------*/

/**
 * The site's general settings. Builds on the series' general settings.
 **/

// Import the series settings

@import "dewnr-series-three/sass/settings.general";





/* = File locations and prefixes = */

$sagovau-path-shared: "../images/";
$sagovau-path-svg: "../images/";
$sagovau-file-prefix:   "ag"; // A two or three letter prefix to differentiate between site files.





/* = Colours = */

$sagovau-color-brand: #5e292a;    // The site's main brand colour
$sagovau-color-brand-secondary: #9e948b;
