/*------------------------------------*\
    #SPECIFIC SETTINGS
\*------------------------------------*/

/**
 * Site settings that have specific uses, such as controlling which classes
 * are output or the design of a particular object or component. Builds on
 * the series' settings.
 **/

// Import the series settings

@import "dewnr-series-three/sass/settings.specific";


/* == COMPONENTS == */

/* === FOOTER === */

$sagovau-enable-footer--brand-secondary: true;


/* === ICON-MODULES === */

$sagovau-icon-module-icon-type: find, fees, info, location, news;


/* === SITE-HEADER === */

// .site-header__logo {
//     background-image: url("#{$sagovau-path-svg}#{$sagovau-file-prefix}-header-logo-background.svg");
//     background-repeat: no-repeat;
//     -webkit-background-size: auto 100%;
//     background-size: auto 100%;
// }

$sagovau-site-header-logo-height: 120px;

@mixin sagovau-site-header-custom-content {

    background-color: $sagovau-color-brand;
    //background-image: url("../images/ag-header-logo-background.svg");

    @include media-query(small-and-up) {
        // background-image: url("#{$sagovau-path-svg}#{$sagovau-file-prefix}-header-background.svg");
        background-position: 320px 0;
        background-repeat: no-repeat;
    }

    @include media-query(huge) {
        background-position: 100% 0;   // Manually set to create smooth transition between breakpoints
    }

}



/* === SITEMAP === */

$sagovau-sitemap-background: "#{$sagovau-path-svg}#{$sagovau-file-prefix}-sitemap-background.png";

/* === SPOTLIGHT === */

$sagovau-spotlight-image-left-offset: 0;    // The gap to the left of the spotlight image on huge devices. (This gap is hidden by the spotight overlay.)
$sagovau-spotlight-overlay-width: 329px;    // The width of the spotlight overlay at its widest point.
$sagovau-spotlight-overlay-padding-right: 70px;   // The amount of padding on the right of the spotlight overlay. (This is used to keep the text within the overlay.)

//.site-search__input--submit { fill: #FFFFFF !important; }
