/*------------------------------------*\
    #SPECIFIC SETTINGS
\*------------------------------------*/

/**
 * Site settings that have specific uses, such as controlling which classes
 * are output or the design of a particular object or component. Builds on
 * the series' settings.
 **/

// Import the series settings

@import "dewnr-series-three/sass/settings.specific";


/* == COMPONENTS == */

/* === FOOTER === */

$sagovau-enable-footer--brand-secondary: true;


/* === ICON-MODULES === */

$sagovau-icon-module-icon-type: find, fees, info, location, news;


/* === SITE-HEADER === */

$sagovau-site-header-logo-height: 120px;


@mixin sagovau-site-header-custom-content {

    background-color: $sagovau-color-background-content;
    background-color: #fff;

    @include media-query(small-and-up) {
        background-position: 320px 0;
        background-repeat: no-repeat;

    }

    @include media-query(huge) {
        background-color: $sagovau-color-brand;
        background-position: 100% 0;   // Manually set to create smooth transition between breakpoints
    }

}


@mixin sagovau-site-header-logo-custom-content() {

    @include media-query(huge) {
        background-image: url("#{$sagovau-path-svg}#{$sagovau-file-prefix}-header-logo-background.svg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: -2.4em 0;
    }
}


/* === SOCIAL === */

@mixin sagovau-social-custom-content() {
    color: $sagovau-color-brand;
    @include media-query(huge) {
        color: $sagovau-color-text-reverse;
    }
}


/* === SITEMAP === */

$sagovau-sitemap-background: "#{$sagovau-path-svg}#{$sagovau-file-prefix}-sitemap-background.png";

/* === SPOTLIGHT === */

$sagovau-spotlight-image-left-offset: 0;    // The gap to the left of the spotlight image on huge devices. (This gap is hidden by the spotight overlay.)
$sagovau-spotlight-overlay-width: 329px;    // The width of the spotlight overlay at its widest point.
$sagovau-spotlight-overlay-padding-right: 70px;   // The amount of padding on the right of the spotlight overlay. (This is used to keep the text within the overlay.)

//.site-search__input--submit { fill: #FFFFFF !important; }


/* === FONT SIZE FIX === */
nav, article, aside, .secondary-navigation__item, .related-information { font-size: 1rem; }


/* === SEARCH === */
// form div.js {
//     > div:first-of-type {
//         //border: 5px solid #e6f4f8;
//         background: #ddd7d7;
//         //overflow:hidden;
//         height: 2em;
//         padding: 0.4em;
//         padding-bottom: 2em;
//     }
// }

// table.noBorderTable  {
//     td, th {
//         padding: 0 10px;
//         border: solid 1px #EEE;
//         //padding: 5px;
//     }
// }

// table.search-box {
//     padding: 10px;
// }
// table.search-box td {
//     padding-right: 1.3em;
// }
// table.search-box .divInput input {
//     padding: 0.6em;
// }
// .divInputBtn input {
//     padding: 0.6em;
// }


.search-r {
    position: relative;
    input {}
}
.search-r__table {
    td {
        padding-right: 1.3em;
    }
}
.search-r__label {}
.search-r__field input {
    padding: 0.6em;
}
.search-r__button input {
    padding: 0.6em;
}

.search-header {}
.search-header__item {
    //border: 5px solid #e6f4f8;
    //overflow: hidden;
    background: #ddd7d7;
    //height: 2em;
    padding: 1.2em 0.4em 2.2em 0.4em;
    //padding-top: 1.2em;
}
.search-header__item--label { float: left; }
.search-header__item--nav { float: right; }
