/* ==========================================================================
   #Content
   ========================================================================== */
.c-content {
  // Catch all of the elements that might pop up in a WYSIWYG so that we don't
  // end up with any unstyled elements on the page.
  p,
  li {
    font-size: 1.26rem;
    letter-spacing: -0.03rem;

    .dewnrger & {
      font-family: 'Dewnrger', sans-serif;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-primary;
  }

  ul,
  ol {
    padding-left: $global-spacing-unit-large;
  }

  &__intro {
    color: $color-primary;
    font-weight: 700;
    font-size: 1.5em;
    font-kerning: normal;
    letter-spacing: -0.05rem;

    .dewnrger & {
      font-family: 'Dewnrger', sans-serif;
    }
  }

  &__heading {
    @include when-is(h3) {
      font-weight: 400;

      @include rem(margin-top, $global-spacing-unit-large);
    }
  }

  &__caption {
    // background: linear-gradient(to bottom, $shade-neutral-2, $color-white);
    background: $shade-neutral-2;
    padding: $global-spacing-unit-small $global-spacing-unit;
    font-style: italic;
    font-size: 0.8em;
  }
}
