/* ==========================================================================
   #Footer
   ========================================================================== */

/**
  * 1. Position background-image
  * 2. Create an overlay that has 100% browser support
  * 3. Overlap the last what's on item on the homepage at mobile
  */
.c-footer {
  background-size: cover; /* [1] */
  background-position: top center; /* [1] */
  box-shadow: inset 5000px 0 0 0 rgba($color-brand, 0.5); /* [2] */
  margin-top: $global-spacing-unit-large;
  position: relative;

  @include jagged-edge(top);

  @include mq($until: md) {
    .homepage & {
      margin-top: -150px; /* [3] */
    }
  }
}
