/* ==========================================================================
   #Header
   ========================================================================== */
.c-header {
  padding: $global-spacing-unit;
  background: rgba($color-brand, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: z-index(2);

  &__logo {
    margin-right: auto;

    > :first-child {
      height: 50px;
    }
  }

  &__menu-toggle,
  &__search-toggle {
    background: transparent;
    border: 0;
    color: $color-white;
    cursor: pointer;
    z-index: z-index(10);

    ::before {
      font-size: 120%;
      font-weight: bold;
    }
  }

  &__menu-toggle {
    .has-nav-open & {
      &::after {
        content: 'close';
        font-weight: 700;
        position: relative;
        top: -3px;

        .dewnrger & {
          font-family: 'dewnrger', sans-serif;
        }
      }

      .icon-menu::before {
        content: '\e846'; // code for cancel icon
      }
    }

    @include mq($from: lg) {
      display: none;
    }
  }

  &__search-toggle {
    .has-nav-open & {
      display: none;
    }

    .has-search-open & {
      .icon-search::before {
        content: '\e846'; // code for cancel icon
      }
    }
  }
}
