/* ==========================================================================
   #Hero
   ========================================================================== */
.c-hero {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > .o-wrapper {
    @include mq($from: md) {
      position: absolute;
      top: 160px;
      left: 30px;
    }

    @include mq($from: lg) {
      left: 30px;
    }

    @include mq($from: 1280px) {
      left: calc(30px + ((100vw - 1280px) / 2));
    }
  }

  &__background {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    flex: 1 1 60%;

    @include jagged-edge(bottom);

    @include mq($from: md) {
      margin-bottom: $global-spacing-unit-large;
      height: 85vh;
      overflow: hidden;
      background-attachment: fixed;
    }
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    padding: $global-spacing-unit-large * 2;

    > :first-child {
      width: auto;
      height: auto;
      max-height: 100%;
      filter: brightness(10);
    }

    @include mq($from: md) {
      padding: 0;
      width: 100%;
      text-align: left;

      > :first-child {
        width: percentage(1/2);
        filter: drop-shadow(0 2px 70px rgba($color-white, 0.8));
      }
    }
  }
}
