/* ==========================================================================
   #Menu toggle
   ========================================================================== */
.c-menu-toggle {
  background: transparent;
  border: 0;
  color: color('white');
  font-size: 180%;
}
