/* ==========================================================================
   #Page
   ========================================================================== */

/**
 * Page Component, not to be confused with Page Element.
 *
 */
 .c-page {

    &__title {
        color: $color-white;
        text-transform: uppercase;
        width: 20ch;
        line-height: 1.1em;
        margin: 0;
        padding: 2em 0 5em $global-spacing-unit-large;
    }
 }

 body {
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }