/* ==========================================================================
   #Page
   ========================================================================== */

/**
 * Page Component, not to be confused with Page Element.
 *
 */
.c-page {
  &__title {
    color: $color-white;
    text-transform: uppercase;
    max-width: 20ch;
    line-height: 1.1em;
    margin: 0;
    padding: 2em $global-spacing-unit-large 5em $global-spacing-unit-large;

    @include mq($until: md) {
      max-height: 500px;
      overflow: hidden;
    }

    .searchPage & {
      padding-bottom: 0;
    }
  }
}
