/* ==========================================================================
   #Panel
   ========================================================================== */
$panel-padding: $global-spacing-unit-large;

.c-panel {
  background: rgba($color-primary, 0.8);
  padding: $panel-padding;
  color: $color-black;

  & + & {
    margin-top: $panel-padding;
  }

  @include mq($from: md) {
    background: rgba($color-black, 0.8);
    color: $color-white;

    > .o-layout {
      display: flex;
      align-items: stretch;
    }

    & + & {
      margin-top: $global-spacing-unit-large;
    }
  }

  &--light {
    background: $color-white;
    color: $color-black;
  }
}

.c-panel__title {
  letter-spacing: -0.01em;
  color: $color-white;

  .c-panel--light & {
    color: $color-primary;
  }

  @include mq($from: md) {
    margin-top: 0;
  }
}
