/* ==========================================================================
   #Site search
   ========================================================================== */
.c-site-search {
  width: 100%;
  z-index: z-index(10);
  margin-top: $global-spacing-unit-large;
  justify-content: center;
  align-items: center;
  display: none;

  .dewnrger & {
    font-family: 'dewnrger', sans-serif;
  }

  .has-nav-open &,
  .has-search-open & {
    display: flex;
  }

  @include mq($from: lg) {
    top: -100%;

    .has-search-open & {
      margin-top: 0;
      position: absolute;
      justify-content: flex-end;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__form {
    position: relative;
    width: 100%;
    max-width: 360px;
    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1;
    height: 100%;
    border: 0;
    padding: $global-spacing-unit-small;
    border-radius: 3px;
    width: 100%;

    &::placeholder {
      font-weight: 700;
    }
  }

  &__button {
    opacity: 1;
    background: 0;
    border: 0;
    color: $color-white;
    font-size: 120%;
    font-weight: bold;
    padding: 0;
    margin-left: $global-spacing-unit-small;

    &:hover {
      cursor: pointer;
    }

    // Keep everything centred with the menu items
    @include mq($from: 540px, $until: lg) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(110%, -50%);
    }
  }
}

/* Search results page
   ========================================================================== */

.c-page .c-site-search  {
  display: block;
  margin: 5em 0;
  padding: 0 40px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  transform: none;

  .has-nav-open & {
    display: none;
  }

  &__form {
    flex-direction: column;
    max-width: 100%;

    @include mq($from: md) {
      flex-direction: row;
    }
  }

  &__text {
    background: rgba($color-black, 0.8);
    align-self: normal;
    color: $color-white;
    padding: $global-spacing-unit-small $global-spacing-unit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 120%;
    border-radius: 3px 3px 0 0;

    @include mq($from: md) {
      border-radius: 3px 0 0 3px;
      text-align: left;
    }
  }

  &__input {
    font-size: 40px;
    border-radius: 0 0 3px 3px;

    @include mq($from: md) {
      border-radius: 0 3px 3px 0;
      text-align: left;
    }
  }

  &__button {
    display: none;
    transition: none;

    @include mq($from: md) {
      display: block;
      font-size: 200%;
      font-weight: bold;
      position: relative;
      transform: none;
    }
  }
}
