/* ==========================================================================
   #Skip to content
   ========================================================================== */
.c-skip-to-content {
  position: absolute;
  top: -1000px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: z-index(10);
  text-align: center;
  margin-top: $global-spacing-unit;
  font-weight: bold;
  transition: top 0.3s ease;

  &:focus,
  &:active {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    padding: $global-spacing-unit-small $global-spacing-unit;
    background-color: $color-white;
  }
}
