/* ==========================================================================
   #Table
   ========================================================================== */
$table-color-main: $shade-primary-2 !default;

.c-table {
  border-collapse: collapse;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  .dewnrger & {
    font-family: 'Dewnrger', sans-serif;
  }

  @include mq($from: md) {
    border: 1px solid $table-color-main;
    margin-bottom: $global-spacing-unit;
  }
}

.c-table__header {
  display: none;

  @include mq($from: md) {
    display: table-header-group;
  }
}

.c-table__row {
  border-bottom: 3px solid $shade-primary-4;
  display: block;
  margin-bottom: $global-spacing-unit;

  .c-table__header & {
    background-color: $table-color-main;
  }

  @include mq($from: md) {
    border: 1px solid $table-color-main;
    display: table-row;
  }
}

.c-table__cell {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.8em;
  border-bottom: 1px solid $shade-primary-4;

  &::before {
    content: attr(data-label);
    font-weight: bold;
    width: 50%;
    border-right: 1px solid $table-color-main;
    padding: $global-spacing-unit-small $global-spacing-unit-small ($global-spacing-unit-small - 3);
    text-align: left;
    margin-right: $global-spacing-unit;
    flex-shrink: 0;
  }

  @include when-is(td) {
    &:last-child {
      border-bottom: 0;
    }
  }

  @include mq($from: md) {
    padding: $global-spacing-unit;
    border: 1px solid $table-color-main;
    display: table-cell;
    text-align: left;
    font-size: 1em;

    &::before {
      content: none;
    }
  }
}
