/* ==========================================================================
   Fonts
   ========================================================================== */

/**
 * Fonts used:
 *  - Dewnrger (light, light-italic, bold, bold-italic)
 *  - Frutiger (light, light-italic, light-condensed, roman, italic, bold, bold-italic)
 */

/* Dewnrger
   ========================================================================== */
@font-face {
  font-family: Dewnrger;
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$font-path}Dewnrger45LightCondensed.woff2') format('woff2'),
    url('#{$font-path}Dewnrger45LightCondensed.woff') format('woff');
}

@font-face {
  font-family: Dewnrger;
  font-style: italic;
  font-weight: 400;
  src:
    url('#{$font-path}Dewnrger48LightCondensedItalic.woff2') format('woff2'),
    url('#{$font-path}Dewnrger48LightCondensedItalic.woff') format('woff');
}

@font-face {
  font-family: Dewnrger;
  font-style: normal;
  font-weight: 700;
  src:
    url('#{$font-path}Dewnrger67BoldCondensed.woff2') format('woff2'),
    url('#{$font-path}Dewnrger67BoldCondensed.woff') format('woff');
}

@font-face {
  font-family: Dewnrger;
  font-style: italic;
  font-weight: 700;
  src:
    url('#{$font-path}Dewnrger68BoldCondensedItalic.woff2') format('woff2'),
    url('#{$font-path}Dewnrger68BoldCondensedItalic.woff') format('woff');
}

/* Frutiger
   ========================================================================== */

// Frutigter45 - Light
@font-face {
  font-family: Frutiger;
  font-style: normal;
  font-weight: 200;
  src:
    url('#{$font-path}4fb89ed5-baf5-425f-aba4-46e8c2c3aabe.woff2') format('woff2'),
    url('#{$font-path}2a004a53-ac5c-43b3-9eeb-9f74ae4c1609.woff') format('woff');
}

// Frutiger46 - Light Italic
@font-face {
  font-family: Frutiger;
  font-style: italic;
  font-weight: 200;
  src:
    url('#{$font-path}dda818d0-9f7a-4574-8d17-8e3546cb04fb.woff2') format('woff2'),
    url('#{$font-path}8259f047-a5d2-40a0-a98c-1c24f0316b08.woff') format('woff');
}

// Frutiger47 - Light Condensed
@font-face {
  font-family: Frutiger;
  font-style: normal;
  font-weight: 300;
  src:
    url('#{$font-path}d081ebc4-72ee-49ad-94a1-b3cd3e01e2a1.woff2') format('woff2'),
    url('#{$font-path}e4b55b70-bcab-4701-b1ce-3cd09b3c8077.woff') format('woff');
}

// Frutiger55 - Roman
@font-face {
  font-family: Frutiger;
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$font-path}9b1fae67-8764-448a-a926-54b09bd0b06b.woff2') format('woff2'),
    url('#{$font-path}3fbbd6b1-cfa7-4ff0-97ea-af1b2c489f15.woff') format('woff');
}

// Frutiger56 - Italic
@font-face {
  font-family: Frutiger;
  font-style: italic;
  font-weight: 400;
  src:
    url('#{$font-path}a6f5a1fe-91d0-4bde-bf50-4fc4e2d24f7e.woff2') format('woff2'),
    url('#{$font-path}e2ade8a9-bd48-45e7-95e6-9dc917ba4f74.woff') format('woff');
}

// Frutiger 65 - Bold
@font-face {
  font-family: Frutiger;
  font-style: normal;
  font-weight: 700;
  src:
    url('#{$font-path}6e7f04cb-3b30-43a5-b79d-25b4c1178700.woff2') format('woff2'),
    url('#{$font-path}9aa32a81-1124-4c43-b3db-15bfb1f7aed2.woff') format('woff');
}


// Frutiger 66 - Bold Italic
@font-face {
  font-family: Frutiger;
  font-style: italic;
  font-weight: 700;
  src:
    url('#{$font-path}c3eb6646-2557-4ced-8a71-fd9c6eb83c59.woff2') format('woff2'),
    url('#{$font-path}f74530f5-a39c-47e3-97d9-6821fc4df8c0.woff') format('woff');
}
