<section class="c-curator">
    <div class="o-wrapper">
        <h2 class="c-curator__heading"><span class="icon-instagram"></span> #adelaidegaol</h2>
        <div class="c-curator__feed loading" id="curator-feed"></div>
    </div>
</section>
