{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source('index_critical.min.css', ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

    <section class="c-hero" style="background-size: cover; background-image: url({{ entry.featureBanner.one().getUrl() }}); background-color: orange;">
        <div class="o-wrapper">
            <h1 class="c-hero__title"><img src="/assets/img/site/escape-to-the-gaol.svg" alt="Escape to the gaol"></h1>
        </div>
    </section>

    <div class="o-wrapper o-wrapper--small">
        <section class="c-panel">
            <h2 class="c-panel__title">Visitor information</h2>
            <div class="o-layout">

                <div class="c-panel__item   o-layout__item u-4/12@lg">
                    <div class="o-layout">
                        <h3 class="c-panel__subtitle   o-layout__item u-4/12@sm">Opening hours</h3>
                        <div class="o-layout__item u-8/12@sm">
                            <p class="c-panel__text c-panel__text--small">10am - 4pm - 7 days a week</p>
                            <p class="c-panel__text c-panel__text--tiny">
                                Last entry for self-guided tours: 3pm <br>
                                Closed Good Friday and Christmas Day
                            </p>
                        </div>
                    </div>
                </div>

                <div class="c-panel__item   o-layout__item u-4/12@lg  u-margin-top-small u-margin-top-none@lg">
                    <div class="o-layout">
                        <h3 class="c-panel__subtitle   o-layout__item u-4/12@sm">Where to find us</h3>
                        <div class="o-layout__item u-8/12@sm">
                            <p class="c-panel__text c-panel__text--small">Gaol Road, Thebarton</p>
                            <p class="c-panel__text c-panel__text--tiny">
                                (Just off Port Road next to the Police Barracks and the new RAH)
                            </p>
                        </div>
                    </div>
                </div>

                <div class="c-panel__item   o-layout__item u-4/12@lg  u-margin-top-small u-margin-top-none@lg  u-display-inline-flex@lg">
                    <button class="c-button c-button--primary   u-margin-left-auto@lg">Plan your visit</button>
                </div>

            </div>
        </section>

        <section class="c-panel c-panel--single c-panel--left">
            <div class="o-layout">

                <div class="o-layout__item u-6/12@md">
                    <h2 class="c-panel__title">The Mugshot Exhibition</h2>
                    <p class="c-panel__text">Learn the untold stories behind 9 Adelaide Gaol convicted prisoners. See photographs that were recently rediscovered within the Gaol’s archives in a free exhibition in 'A' Wing of the New Building.</p>
                    <button class="c-button c-button--primary  u-margin-top-small">Find out more</button>
                </div>

                <div class="c-panel__images   o-layout__item u-6/12@md">
                    <div class="o-layout o-layout--flush">
                        <div class="o-layout__item u-6/12">
                            <img class="c-panel__image" src="https://source.unsplash.com/random/620x620" alt="">
                        </div>
                        <div class="o-layout__item u-6/12">
                            <img class="c-panel__image" src="https://source.unsplash.com/random/620x620" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="c-panel">
            <h2 class="c-panel__title">What's on at the Gaol</h2>
            <div class="o-layout  c-panel__group">
                <div class="c-panel__item   o-layout__item u-4/12@md">
                    <img class="c-panel__image" src="https://source.unsplash.com/random/620x440" alt="">
                    <h3 class="c-panel__subtitle">Tour information</h3>
                    <p class="c-panel__text">Find your own way on a self guided tour, or book in for a guided experience.</p>
                    <button class="c-button c-button--primary   u-margin-top u-margin-right-auto">Find out more</button>
                </div>
                <div class="c-panel__item   o-layout__item u-4/12@md">
                    <img class="c-panel__image" src="https://source.unsplash.com/random/620x440" alt="">
                    <h3 class="c-panel__subtitle">Ghostly Sightings</h3>
                    <p class="c-panel__text">The Adelaide Gaol is said to be regularly visited by some of the inmates and prison officers who once wandered the halls...</p>
                    <button class="c-button c-button--primary   u-margin-top u-margin-right-auto">Find out more</button>
                </div>
                <div class="c-panel__item   o-layout__item u-4/12@md">
                    <img class="c-panel__image" src="https://source.unsplash.com/random/620x440" alt="">
                    <h3 class="c-panel__subtitle">Venue hire</h3>
                    <p class="c-panel__text">Looking for a venue with a difference? Give your guests an arresting experience at the Adelaide Gaol.</p>
                    <button class="c-button c-button--primary   u-margin-top u-margin-right-auto">Find out more</button>
                </div>
            </div>
        </section>

    </div>


{% endblock %}

{% block _inline_js %}{% endblock %}
