/* -- Site fonts */

/* -- Dewnrger */
@font-face {
  font-family: Dewnrger;
  font-style: normal;
  font-weight: 400;
  src:
    url('/assets/fonts/Dewnrger45LightCondensed.woff2') format('woff2'),
    url('/assets/fonts/Dewnrger45LightCondensed.woff') format('woff');
}

@font-face {
  font-family: Dewnrger;
  font-style: italic;
  font-weight: 400;
  src:
    url('/assets/fonts/Dewnrger48LightCondensedItalic.woff2') format('woff2'),
    url('/assets/fonts/Dewnrger48LightCondensedItalic.woff') format('woff');
}

@font-face {
  font-family: Dewnrger;
  font-style: normal;
  font-weight: 700;
  src:
    url('/assets/fonts/Dewnrger67BoldCondensed.woff2') format('woff2'),
    url('/assets/fonts/Dewnrger67BoldCondensed.woff') format('woff');
}

@font-face {
  font-family: Dewnrger;
  font-style: italic;
  font-weight: 700;
  src:
    url('/assets/fonts/Dewnrger68BoldCondensedItalic.woff2') format('woff2'),
    url('/assets/fonts/Dewnrger68BoldCondensedItalic.woff') format('woff');
}

/* -- Fontello */
@font-face {
  font-family: Fontello;
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/fontello.eot');
  src:
    url('/assets/fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('/assets/fonts/fontello.woff2') format('woff2'),
    url('/assets/fonts/fontello.woff') format('woff'),
    url('/assets/fonts/fontello.ttf') format('truetype'),
    url('/assets/fonts/fontello.svg#fontello') format('svg');
}
