/* ==========================================================================
   #Icons
   ========================================================================== */

/**
  * Create a mixin here, this will make it much easier to add icons to
  * `::before` and `::after` pseudo elements
  *
  */

/* stylelint-disable font-family-no-missing-generic-family-keyword */
@mixin fontello() {
  .fontello & {
    font-family: 'fontello';
  }

  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  // opacity: 0.8;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  // line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  // font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */

[class^="icon-"]::before,
[class*=" icon-"]::before {
  @include fontello();

  content: '\e80d'; // fallback icon in case 'icon-*' does not exist
}

.icon-chevron,
.icon-arrow {
  &--left {
    &::before {
      transform: rotate(270deg);
    }
  }

  &--up {
    &::before {
      transform: rotate(0deg);
    }
  }

  &--right {
    &::before {
      transform: rotate(90deg);
    }
  }

  &--down {
    &::before {
      transform: rotate(180deg);
    }
  }
}
