/* ==========================================================================
   #Images
   ========================================================================== */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 * 4. If a `width` or `height` attribute has been defined, let's not make the
 *    image fluid.
 */

img,
video,
audio {
  max-width: 100%; /* [1] */
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */

  &:not([width]):not([height]) {
    // max-width: none; /* [4] */
  }
}

.lazyloading {
  width: 100%;
  height: auto;
}
