/* ==========================================================================
   #Links
   ========================================================================== */
a:not([class]),
a.link {
  &,
  &:visited {
    display: inline;
    border-bottom: 2px dashed;
    font-weight: inherit;
    line-height: $golden-ratio;
    cursor: pointer;
    color: $shade-neutral-6;
    text-decoration: none;

    &:hover,
    &.hover {
      color: $shade-neutral-8;
      border-bottom: 2px solid;
    }
  }

  &.link--primary {
    color: $color-primary;

    &:hover,
    &.hover {
      color: $shade-primary-5;
    }
  }

  &.link--secondary {
    color: $color-secondary;

    &:hover,
    &.hover {
      color: $shade-secondary-5;
    }
  }
}


/* Heading links
   ========================================================================== */
$color-links-headings: $color-brand !default;
$color-links-headings-hover: $color-brand !default;

@mixin _heading-link() {
  text-decoration: none;
  border-color: transparent;
  color: $color-links-headings;
}

@mixin _heading-visited() {
  color: $color-links-headings;
}

@mixin _heading-hover() {
  border-color: currentColor;
  color: $color-links-headings-hover;
}

@mixin _heading-focus() {
  border-color: currentColor;
  color: $color-links-headings;
}

@for $i from 1 through 6 {
  h#{$i} > a:not([class]) {
    &:link {
      @include _heading-link();
    }

    &:visited {
      @include _heading-visited();
    }

    &:hover {
      @include _heading-hover();
    }

    &:focus,
    &:active {
      @include _heading-focus();
    }
  }
}
