/* ==========================================================================
   #Quotes
   ========================================================================== */
q {
  font-family: inherit;
  font-style: italic;
  quotes: '‘' '’' '“' '”';

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

blockquote {
  // How many times bigger than the text should the hung quote be?
  $hung-quote-ratio: 3;

  font-family: sans-serif;
  font-size: 1em;
  font-style: italic;
  padding-left: $hung-quote-ratio * 0.5em;
  font-weight: bold;

  .dewnrger & {
    font-family: Dewnrger;
  }

  @include mq($from: md) {
    font-size: 1.2em;
    line-height: (32/24);
    padding-left: $hung-quote-ratio * 1em;
    // font-weight: bold;
  }

  /**
   * Blockquotes have a hung quote as a visual decoration. A lot of the values
   * below have been eyeballed, so they’re kinda subjective. The size of the
   * quote mark is sourced from `$hung-quote-ratio`, above. We also use this
   * value to work out how much space to reserve around the text itself.
   */
  &::before {
    content: '“';
    float: left;
    font-family: Wingdings, Webdings, 'Plantagenet Cherokee', Times, serif;
    font-size: $hung-quote-ratio * 1em;
    line-height: 1;
    width: 1em;
    text-align: center;
    margin-left: -1em;
    position: relative;
    top: -4px;
  }
}
